
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
body
{
    font-family: 'Merriweather', serif;
}
.slider1
{
    margin-top: 80px;
}
.section-1
{
    background-image: url("../../public/Image/comp-bg.png");
}
.section-1-h1
{
    text-align: center;
    color: white;
}
.section-1 h3
{
    color: white;
}
.section-1 img
{
    background-color: wheat;
}
.section-1-div-1
{
    text-align: center;
    margin-top: -50px;
}
.section-span1
{
    font-size: 80px;
    color: brown;
}
.section-span4
{
   font-size: 80px;
   color: brown;
   margin-top: 20px;
}
.home-paragraph{
    display: flex;
    align-items: center;
    font-size: 24px;
    text-align: justify;
}
.section-4{
    background-image: url('../../public/Image/banner5.png');
}
.section-4-div-text
{
    width: 100%;
    padding: 0px 10px 10px 10px;
    background-color: aqua;
    border-radius: 50px;
}
.section-4-div-text1
{
    width: 100%;
    padding: 0px 10px 10px 10px;
    background-color: rgb(255, 0, 106);
    border-radius: 50px;
}
.section-4-div-text h1{
    text-align: center;
    font-size: 25px;
    margin-top: 2px;
}
.section-4-div-text h4{
    text-align: center;
    font-size: 15px;
}
.section-4-div-text1 h1{
    text-align: center;
    font-size: 25px;
    margin-top: 2px;
}
.section-4-div-text1 h4{
    text-align: center;
    color: white;
    font-size: 15px;
}
.section-Vission-row
{
    background-image: url(../../public/Image/misson.png);
}
.section-Vission-col-1{
    margin-top: 100px;
    text-align: center;
}
.section-Vission-col-1 p{
    text-align: justify;
    padding: 35px 144px 30px 30px;
    font-size: 20px;
    color: white;


}
.section-Vission-col-2{
    margin-top: 100px;
    text-align: center;
}
.section-Vission-col-2 p{
    text-align: justify;
    padding: 0px 0px 30px 30px;
    font-size: 20px;
    color: white;


}
.setion-our-clint
{
    background-image: url(../../public/Image/WebsiteDesigning.jpg);
    color: white;
}
.wrapper
{
    min-height: 100vh;
    display: flex;
    color: white;
    align-items: center;
    background: url(../../public/Image/bg-registration-form-7.jpg) no-repeat;
    background-size: cover;;
}
.inner
{
    max-width: 758px;
    margin: auto;
    background: #39459b;
    border: 10px solid #0d99d7;
    padding: 77px 99px 87px;
}
.contact-form-h1{
    text-transform: uppercase;
    font-size: 45px;
    font-family: montserrat-bold;
    text-align: center;
    margin-bottom: 12px;
    
}
.contact-form-p{
    text-align: center;
    padding: 0 10px;
    margin-bottom: 55px;
    line-height: 1.8;
}
.form-group
{
    position: relative;
    display: block;
    margin-bottom: 48px;
}
.form-control
{
    border: none;
    border-bottom: 2px solid #00ade6;
    display: block;
    width: 100%;
    height: 43px;
    font-size: 15px;
    background: 0 0;
    font-family: montserrat-semibold;
}
.form-group span 
{
    font-size: 15px;
    color: #00ade6;
    position: absolute;
    top: 11px;
    transition: all .2s ease;
    transform-origin: 0 0;
    cursor: text;
}
.form-group span.border {
    height: 2px;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 41px;
    transform: scaleX(0);
    transition: all .15s ease;
    background: #fff;
}
