.slider1
{
    margin-top: 80px;
}
.section-1
{
    background-image: url("../../public/Image/comp-bg.png");
}
.section-1-h1
{
    text-align: center;
    color: white;
}
.section-1 h3
{
    color: white;
}
.section-1 img
{
    background-color: wheat;
}
.section-1-div-1
{
    text-align: center;
    margin-top: -50px;
}
.section-span1
{
    font-size: 80px;
    color: brown;
}
.section-span4
{
   font-size: 80px;
   color: brown;
   margin-top: 20px;
}
.home-paragraph{
    display: flex;
    align-items: center;
    font-size: 24px;
    text-align: justify;
}
.section-4{
    background-image: url('../../public/Image/banner5.png');
}