.slider1
{
    margin-top: 80px;
}
.section-1
{
    background-image: url("../../public/Image/comp-bg.png");
}
.section-1-h1
{
    text-align: center;
    color: white;
}
.section-1 h3
{
    color: white;
}
.section-1 img
{
    background-color: wheat;
}
.section-1-div-1
{
    text-align: center;
    margin-top: -50px;
}
.section-span1
{
    font-size: 80px;
    color: brown;
}
.section-span4
{
   font-size: 80px;
   color: brown;
   margin-top: 20px;
}
.home-paragraph{
    display: flex;
    align-items: center;
    font-size: 24px;
    text-align: justify;
}
.section-4{
    background-image: url('../../public/Image/banner5.png');
}
.section-4-div-text
{
    width: 100%;
    padding: 0px 10px 10px 10px;
    background-color: aqua;
    border-radius: 50px;
}
.section-4-div-text1
{
    width: 100%;
    padding: 0px 10px 10px 10px;
    background-color: rgb(255, 0, 106);
    border-radius: 50px;
}
.section-4-div-text h1{
    text-align: center;
    font-size: 25px;
    margin-top: 2px;
}
.section-4-div-text h4{
    text-align: center;
    font-size: 15px;
}
.section-4-div-text1 h1{
    text-align: center;
    font-size: 25px;
    margin-top: 2px;
}
.section-4-div-text1 h4{
    text-align: center;
    color: white;
    font-size: 15px;
}
.section-clints-row
{
    background-image: url(../../public/Image/misson.png);
}